@import "tailwindcss";

@theme {
  /* Font Family */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Color */
  --color-primary: #ff5f22;
  --color-secondary: #71717b;
}

@utility active {
  background-color: #ff5f2214;
  color: var(--color-primary) !important;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
}

@utility pending {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
}

@utility selected {
  background-color: var(--color-primary);
  color: white !important;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
}

@utility tab-active {
  border-bottom: 2px solid var(--color-primary);
  padding: 10px 16px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  color: #ff5f22;
}

